.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.search {
  width: 70%;
  height: 50%;
}
.search_cont {
  width: 100%;
  padding-block: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-search {
  width: 30%;
  height: 80%;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.result {
  display: flex;
  width: 100vw;
  margin-left: -15vw;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper {
  border-radius: 5px;
  background: #fff;
  position: relative;
  width: 300px;
  height: 60vh;
  margin-block: 2vh;
  overflow: visible;
  box-shadow: 0px 10px 25px #999;
}
.pic {
  height: 24vh;
  width: 100%;
  background-size: 50%;
  object-fit: contain;
  background-position: center;
  padding: 0 0 20px 0;
  margin-bottom: 5%;
}
h3.header {
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
p.content {
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
}
a .readmore {
  height: 40px;
  width: 100px;
  float: right;
  padding-left: 10px;
  line-height: 40px;
  background-color: #8bc34a;
  margin: 20px;
  font-size: 12px;
  border-radius: 5px;
}

a .readmore:hover {
  background-color: #9fdf55;
}

a .readmore i {
  color: #fff;
  margin-left: 5px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

a .readmore:hover i {
  margin: 0 0 0 20px;
}
.btn-search:hover {
  background-color: #3e8e41;
}
.btn-search:active {
  background-color: #4caf50;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}
.search_field {
  width: 80%;
  height: 100%;
  margin-block: 4vh;
  padding-block: 1%;
  border: 2px solid green;
}
.two {
  width: 35%;
  margin-right: 2%;
  margin-block: 1vh;
}
.location {
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.name {
  padding: 0 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.back-btn {
  width: fit-content;
  height: 5vh;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-block: 2vh;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.wrapper.card {
  width: 80vw;
  height: fit-content;
}
.show-image {
  width: 50%;
  height: 20%;
}
.description {
  text-align: left;
  width: 60%;
}
.card {
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.keyword {
  font-weight: 900;
}
.date {
  font-weight: 900;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 420px) {
} ;
